<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Toppings</title>

    <!-- Font-Awesome Icons -->
    <script src="https://kit.fontawesome.com/ab085a1591.js" crossorigin="anonymous"></script>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

  <body>
    <section class="toppings">
      <h1>Ultimate Pizza Toppings</h1>
      <h2>Let us know what toppings you do or don't like</h2>
      <ul class="tile_container">
      <% for(let i=0; i < info.length; i++) {%>
          <li class="tile">
              <span class='fa fa-trash'></span>
              <h3><%= info[i].topping %></h3>
              <div class="voting">
                <span class='fa-solid fa-pizza-slice up'></span>
                <h4 class="likes"><%= info[i].likes %></h4>
                <span class='fa-solid fa-pizza-slice down'></span>
              </div>
          </li>
      <% } %>
      </ul>
    </section>

    <section class="addToppings">
      <h2>Don't see your favorite toppings? Add it in</h2>

      <form action="/addTopping" method="POST">
          <input type="text" placeholder="pizza topping" name="topping">
          <button type="submit">Submit Topping</button>
      </form>
    </section>

    <footer>
      <p>This is a simple CRUD app using Express, MongoDB, and EJS.</p>
      <p>© <a href="https://jamesneff.com" target="_blank">James Neff</a></p>
    </footer>

    <script type="module" src='js/main.js'></script>
  </body>
</html>